<div class="justyfy-middle">
    <div class="bigfont" style="width: 50%;">
        <p>The application allows you to create tests and share them with anonymous users.</p>
        <p>First you need to create an account and log in, then go to the administration panel to create questions and tests.</p>
        <p>Later, after creating the test, you need to share test and give the minimum number of points you need to get to pass the test.</p>
        <p>After all, we have to send a link to someone who should solve the test.</p>
    </div>
</div>
