<div class="justyfy-middle tiles">
    <div class="tile">
        <h2>Manage Questions</h2>
        <button mat-raised-button color="primary" (click)="goToCreateQuestions()">Add Question</button>
        <button mat-raised-button color="primary" (click)="goToViewQuestions()">View/Edit Questions</button>
    </div>
    <div class="tile">
        <h2>Manage Tests</h2>
        <button mat-raised-button color="primary" (click)="goToAddTest()">Compose Test</button>
        <button mat-raised-button color="primary" (click)="goToViewShareTests()">View/Edit/Share Tests</button>
        <button mat-raised-button color="primary" (click)="goToSharedSolvedTests()">View Shared/Solved Tests</button>
    </div>
</div>