<button routerLink="/home" mat-button>Home</button>

<button mat-button [matMenuTriggerFor]="belowMenu">Questions</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/question">View questions</button>
  <button mat-menu-item routerLink="/addquestion">Add question</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Tests</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="/test">View tests</button>
  <button mat-menu-item routerLink="/addtest">Compose test</button>
</mat-menu>