<mat-card> 
    <div *ngIf="questionService.getSelectedQuestion()!==null; else noquestionselected">
        <h4>Content: {{questionService.getSelectedQuestion().content}}</h4>
        <h4>Answers:</h4>
        <mat-list role="list">           
            <mat-list-item *ngFor="let item of questionService.getSelectedQuestion().answers" role="listitem">{{item.content}} - is correct - {{item.correct}}</mat-list-item>
        </mat-list>
        <button mat-fab color="accent" (click)="navigateToEditPage(questionService.getSelectedQuestion().id)">Edit</button>
    </div>
    <ng-template #noquestionselected>Select question to edit.</ng-template>
</mat-card>