/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.center{
    display: flex;
    justify-content: center;
}
.space-evently{
  display: flex;
  justify-content: space-evenly;
}

.margintop20px{
  margin: 20px 0px 0px 0px  !important;

}

.justyfy-middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.justyfy-middle-block{
  display: block;
  justify-content: center;
  align-items: center;
}

.correct{
  color: green;
}

.incorrect{
  color:red;
}

.marginleft20px{
  margin-left: 20px !important;
}
.wrapper {
    margin: 15px;
    width: 75%;
    flex-direction: column;
  }

.width10p20m{
  width: 100px;
  margin-top: 20px !important;
}
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.bigfont{
  font-size: large;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
.blue-column {
    background-color: blue;
    height: 100px;
  }
  
.green-column {
    background-color: green;
    height: 100px;
  }

