<div class='row'>
  <div class='column'>
    <h3>Shared tests</h3>
    <mat-table [dataSource]="testsShare" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name of test </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef> Url to share </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.shareUrl}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsShared"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsShared;"></mat-row>
    </mat-table>
  </div>
</div>

<div class='row'>
  
  <div class='column'>
    <h3>Solved tests</h3>
    <mat-table [dataSource]="testsSolved" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.points}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="maxpoints">
        <mat-header-cell *matHeaderCellDef> Max Points </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.maxPoints}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="passed">
        <mat-header-cell *matHeaderCellDef> Passed </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.passed}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="report">
        <mat-header-cell *matHeaderCellDef> Report </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Show Report
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="justyfy-middle-block" *ngFor="let question of element.questionSolved; let i = index">
                <p  [ngClass]="{'correct': question.correct==true, 'incorrect': question.correct==false}">{{i+1}}. Question content: {{question.content}}</p>
               <div class="justyfy-middle-block" *ngFor="let answer of question.answerAnswered">
                   <p [ngClass]="{'correct': answer.correct==true, 'incorrect': answer.correct==false}">Answer content: {{answer.content}} - User Answer: {{answer.userAnswer}}</p>
                </div>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsSolved"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsSolved;"></mat-row>
    </mat-table>
  </div>
</div>