<form *ngIf="!submited" [formGroup]="testSolveForm" (ngSubmit)="onSubmit()" class="center column">
    <h2>Test: {{displayModel.name}}</h2>
    <mat-form-field appearance="fill">
        <mat-label for="name">Enter your name</mat-label>
        <input type="text" id="name" formControlName="name" matInput>
    </mat-form-field>
    <mat-error *ngIf="!testSolveForm.get('name').valid && testSolveForm.get('name').touched">Please enter name
    </mat-error>
    <mat-form-field appearance="fill">
        <mat-label for="email">Enter your email</mat-label>
        <input type="email" id="email" formControlName="email" matInput>
    </mat-form-field>
    <mat-error *ngIf="!testSolveForm.get('email').valid && testSolveForm.get('email').touched">Please enter valid email
    </mat-error>
    <div formArrayName="questions">
        <div *ngFor="let question of getQuestionControlArray(); let i = index">
            <div [formGroupName]="i">
                <h3> {{i+1}}. {{displayModel.questionDisplayDto[i].content}}</h3>
                <div formArrayName="answers">
                    <div *ngFor="let answer of getAnswerControlArray(i); let ii = index">
                        <div [formGroupName]="ii" class="row">
                            <p>{{displayModel.questionDisplayDto[i].answers[ii].content}}</p>
                            <mat-checkbox formControlName="correct" class="marginleft20px">Is Correct</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!testSolveForm.valid"
        class="width10p20m">Solve</button>
</form>
<div *ngIf="submited && testSolveForm != null" class="center column">
    <div class="justyfy-middle">
        {{testSolveModelInfo.name}}
        <br>
        {{testSolveModelInfo.userName}}
    </div>
    <div class="justyfy-middle" *ngFor="let question of testSolveModelInfo.questionSolved; let i = index">
        i {{question.content}} - {{question.correct}}
        <div class="justyfy-middle" *ngFor="let answer of question.answerAnswered">
            {{answer.content}} - {{answer.correct}}
        </div>
    </div>
</div>